<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>JSON-BREAD KASKUS</title>
</head>

<body>
    <div class="container">
        <div class="check">
            <span class="judul">KASKUS</span>
            <form action="" method="get">
                <input name="count" type="number" class="rowinput">
            </form>
            <a href="/kaskus">
                <button class="tapcari">Reset</button>
            </a>
            <a href="/">Back</a>
        </div>
        <table>
            <thead class="column">
                <tr>
                    <th>No</th>
                    <th>Kaskus</th>
                </tr>
            </thead>
            <tbody>
                <%kaskus.forEach((item,i)=>{%>
                    <tr>
                        <td>
                            <%=i+1%>
                        </td>
                        <td>
                            <%=item%>
                        </td>
                    </tr>
                    <%})%>
            </tbody>
        </table>
    </div>
</body>

</html>