<%- include('./partials/header.ejs')%>
    <div>
        <h1>Favorite</h1>
        <div class="row">
            <div class="col">
                <input class="form-control" />
                <label for="form">Favorite Nih</label>
            </div>
        </div>
    </div>
    <%- include('./partials/footer.ejs')%>